@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background: #d5d5d5
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-footer.png)
    center center no-repeat;
  background-size: contain;
}

body {
  margin: 0;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.menu-conner-left {
  background: url(/public/assets/images/menu-left-blue.png);
  position: absolute;
  top: 0;
  left: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;
}

.menu-conner-right {
  background: url(/public/assets/images/menu-right-blue.png);
  position: absolute;
  top: 0;
  right: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;

.header_banner_img {
  background: url(../public/assets/images/banner_header.jpg);

}
