@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap")
  repeat scroll 0 0 rgba(0, 0, 0, 0); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap");
.footer {
  background: #d5d5d5
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-footer.png)
    center center no-repeat;
  position: relative;
}

body {
  margin: 0;
  color: #333333;
  font-family: "Wix Madefor Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bgtrongdong_1.png)
    top center no-repeat;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 h2 h3 {
  font-family: "Roboto Condensed";
}

input {
  outline: none !important;
  outline-offset: 0 !important;

  --tw-ring-shadow: none !important;
}

input:focus {
  outline: none !important;
  outline-offset: 0 !important;
  --tw-ring-shadow: none !important;
}

.menu-conner-left {
  background: url(/public/assets/images/menu-left-blue.png);
  position: absolute;
  top: 0;
  left: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;
}

.menu-conner-right {
  background: url(/public/assets/images/menu-right-blue.png);
  position: absolute;
  top: 0;
  right: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;
}
.header_banner_img {
  background: url(/public/assets/images/banner_header.jpg);
}

.slick-next {
  right: 9px !important;
}

.slick-prev {
  left: 9px !important;
  z-index: 9;
}

.bgr_card {
  margin: 20px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 40px;
  background: url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-national-emblem.png);
  background-repeat: no-repeat;
}

.title {
  font-size: 12px;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 40px;
  min-width: 20px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 12px;
  }
}

.image-container {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.Crop-Controls {
  margin-bottom: 10px;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}

.ReactCrop__child-wrapper {
  width: 100%;
  height: 100%;
}
