@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background: #d5d5d5
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-footer.png)
    center center no-repeat;
  background-size: contain;
}

body {
  margin: 0;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header_banner_img {
  background: url(../public/assets/images/banner_header.jpg);
}
