@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background: #d5d5d5
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-footer.png)
    center center no-repeat;
  background-size: contain;
}

body {
  margin: 0;
  color: #333;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee
    url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bgtrongdong_1.png)
    top center no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 h2 h3 {
  font-family: "Roboto Condensed";
}

.menu-conner-left {
  background: url(/public/assets/images/menu-left-blue.png);
  position: absolute;
  top: 0;
  left: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;
}

.menu-conner-right {
  background: url(/public/assets/images/menu-right-blue.png);
  position: absolute;
  top: 0;
  right: -12px;
  height: 55px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: auto;
}
.header_banner_img {
  background: url(../public/assets/images/banner_header.jpg);
}

.slick-next {
  right: 9px !important;
}

.slick-prev {
  left: 9px !important;
  z-index: 9;
}

.bgr_card {
  margin: 20px 0;
  line-height: 32px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 40px;
  background: url(https://doanhnhanthanhhoahanoi.com/themes/egov/images/bg-national-emblem.png);
  background-repeat: no-repeat;
}
